body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  font-family: 'Nunito',Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: rgba(0,212,255,.41);
}

.profile-image-container{
  margin: 10vh 0 10vh 0;
}

.profile-image{
  width: 50%;
  border-radius: 100%;
}
 #introduction{

  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 60%, rgba(0,212,255,0.4066001400560224) 100%);
  background-repeat: no-repeat;

  height: 100vh;

  text-align: center;
}
.welcome {
  font-family: 'Nunito',Arial, Helvetica, sans-serif;
}

.welcome h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.welcome p {
  color: slategrey;
  font-size: 1.25rem;
}

#about-me {
  text-align: center;
  padding: 0 15% 7% 15%;
}

#about-me h2{
  color: #23374d;
}

#about-me p {
  color: slategrey;
}

#projects {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(16,207,255,1) 50%, rgba(255,255,255,1) 100%);

  padding: 5rem 0;
  text-align: center;

  min-height: 75vh;
}

.project-container, .skill-container {
  margin: 0;
}

#projects h2 {
  color: #484848;
  margin-bottom: 1.5rem;
}

.carousel-item {
  padding: 7% 15%;
  color: #094d74;
}

.project-image {
  margin-bottom: 20px;
}

.project-title {
  font-size: 1.5rem;
}

.project-description {
  margin-bottom: 25px;
}

#skills {
  text-align: center;
  padding: 2rem 0;
  min-height: 75vh;
}

.prev-arrow-dk {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.next-arrow-dk {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#contact {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(9,77,116,1) 50%);

  padding: 15%;
  text-align: center;
}

#contact h2 {
  color: aliceblue;
  font-size: 2.5rem;
}

.contact-link {
  margin: 10px 0;
}

.contact-link a {
  color: aliceblue;
  font-size: 1.5rem;
}

@media screen and (min-width: 992px){
  .navbar {
    padding: 1rem 15%;
  }

  .navbar-brand {
    font-size: 2.5rem;
  }

  #introduction{
    height: auto;
    padding: 0 10% 5% 0;
  }
}